<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<div>
		<div>
			<div>
				<a href="{% url 'registerdoc-page' %}">
					<img src="../../static/img/doctor22.png" width="500" height="300">
					<p>Register As A Medical Practitional</p>
			 	</a>
			</div>

			<div>
				<a href="{% url 'register-page' %}">
					<img src="../../static/img/doctor11.png" width="500" height="300">
					<p>Register As A Patient</p>
			 	</a>
			</div>
		</div>
	</div>

</body>
</html>